{% extends 'base/html.html' %}
{% block link %}
{% endblock %}

{% block title %} {{ post.titulo }} {% endblock %}

{% block content %}
    {% include 'base/navbar.html' %}

<header>
    <h1>
        {{ post.titulo }}
    </h1>

    <span>
        {{ post.user.nome }} {{ post.user.sobrenome }}
    </span>
    <br>
    <span>{{ post.data_resumo() }}</span>
    <hr>
    <img src="{{ url_for('static', filename='data/post/{}'.format(post.imagem) ) }}" alt="">

    <main style="overflow-wrap: break-word;">
        <div id="container-conteudo" class="container-conteudo">
            
        </div>
    </main>
    
</header>


<script src="{{ url_for('static', filename='js/posts/detalhe-post.js') }}"></script>

{% endblock %}