{% extends 'base/html.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts/post.css') }}">
{% endblock %}

{% block title %} {{ post.titulo }} {% endblock %}

{% block content %}
{% include 'base/navbar.html' %}

<header>
    <h1 class="titulo">
        {{ post.titulo }}
    </h1>

    <p class="autor">
        Por <span class="nome-autor">{{ post.user.nome }} {{ post.user.sobrenome }}</span>
    </p>
    <span class="datetime">{{ post.data_resumo() }}</span>
    <hr>
    <img src="{{ post.imagem }}" alt="" class="img-header">
</header>
    
<main style="overflow-wrap: break-word;">
    <div id="container-conteudo" class="container-conteudo">
        
    </div>
</main>
    

 
<script src="{{ url_for('static', filename='js/posts/detalhe-post.js') }}"></script>

{% endblock %}