body {
    padding-bottom: 2%;
    width: 100%;
    overflow-x: hidden;
}

h1, p, input {
    font-family: 'PT Serif', serif;
}

header, main {
    width: 50%;
    justify-self: center;
}

header .titulo {
    margin-bottom: 0;
    font-size: 1.3em;
    opacity: 90%;
}
header .autor, header .datetime {
    margin-bottom: -10px;
    font-size: 0.7em;
}
header .nome-autor {
    color: #023361;
}
header .datetime {
    font-size: 0.55em;
}
header .img-header {
    width: 100%;
    height: auto;
    margin: 0;
    
    border-radius: 18px;
}


.container-conteudo {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
/* Equivalente à h1, h2 e h3 no CkEditor*/
.container-conteudo h2, .container-conteudo h3, .container-conteudo h4 {
    margin: 10px 0;
}
.container-conteudo p blockquote{
    margin: 0;
}

.container-conteudo figure {
    padding: 5px;
    margin: 0;
}
.container-conteudo img {
    width: 100%;
    height: auto;
    margin: 0;

    border-radius: 18px;
}


/* Telas menores que 768px */
@media (max-width: 768px) {
    header, main {
        width: 90%;
    }
}