body {
    padding-bottom: 2%;
    width: 100%;
    overflow-x: hidden;
}

h1, p, input {
    font-family: 'PT Serif', serif;
}

header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -4vh;
    padding-top: 4vh;

    background-color: #102e4a;
    
    justify-items: center;
    text-align: center;
    color: #F0EDE8;
    display: flex;
    flex-flow: column-reverse;
}
header h1 {
    font-size: 1.5em;
    font-weight: 600;
}


main {
    margin-top: 5vh;
}

.material-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: space-around;
}

.material-div{
    height: 400px;
    max-height: 400px;
    border: 2px solid #102e4a;
    border-radius: 18px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 20px;

    overflow-y: hidden;
}

.material-div > h2 {
    background-color: rgba(173, 193, 207, 0.863);
    margin: 0;
    border-radius: 10px;
    min-height: 60px;
    
    align-content: center;
    text-align: center;
    font-size: 1em;
}

.conteudo-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    
    margin-top: 10px;
    padding-bottom: 5px;
    overflow-y: auto;
} 
/* Hide scrollbar for Chrome, Safari and Opera */
.conteudo-container::-webkit-scrollbar {
    width: 4px;
    height: 100px;
    border-radius: 90px;
    /* background-color: rgba(0, 0, 0, 0.034); */
    margin-top: 10px;
}
.conteudo-container::-webkit-scrollbar-thumb {
    background: #102e4a46; 
    border-radius: 90px;
}
.conteudo-container::-webkit-scrollbar-track {
    background: transparent;

}
.conteudo-container > .link-conteudo-material {
    background-color: #d1cdc756;
    border-radius: 8px;
}

.link-conteudo-material a {
    color: #000;
    text-decoration: none;
    display: flex;
    height: 100px;
    align-items: center;
    margin: 0 5px;
}
.link-conteudo-material a i {
    flex: 20%;
    min-width: 20%;
    max-width: 20%;
    height: 100%;
    
    align-content: center;
    text-align: center;
    font-size: 1.8em;
    margin-right: 10px;
}
.link-conteudo-material a div{
    flex: 80%;
}
.link-conteudo-material a h3 {
    margin: 0;
    font-size: 18px;
}

.link-conteudo-material a div p {
    font-size: 0.7em;
    overflow-wrap: normal;
    white-space: normal;
    margin: 5px 0 0 0;
}


.container-btn-admin {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    padding: 0 8px;
    z-index: 9;
}
.btn-editar, .btn-deletar {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
.btn-editar {
    text-decoration: none;
    color: #102e4a;
}
.btn-deletar {
    color: red;
    border: none;
}
.btn-editar:hover, .btn-deletar:hover {
    transform: translateY(-3px);
}

/* Telas menores que 768px */
@media (max-width: 768px) {
    .material-container {
        display: grid;
        padding: 0 1.2rem;
        grid-template-columns:none;
        grid-auto-flow: column;
        gap: 1.2rem;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .material-div {
        min-width: 80vw;
        width: 80vw;
        scroll-snap-align: center;
    }
    
}