{% extends 'base/html.html' %}

{% block link %}
<link rel="stylesheet" href="../../static/css/login.css">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<section class="content">
        
    <div class="esquerdo">
        <div class="navbar">
            <a href="{{ url_for('homepage') }}"> Home </a>
        </div>

        <form action="" method="post" class="lform">
            <h1>LOGIN</h1> 
            {{ form.csrf_token }}

            {{ form.email(placeholder='Email', class='email') }}

            {{ form.senha(placeholder='Senha', class='senha') }}
            <a href="{{ url_for('cadastro', validacao='acesso_confirmado') }}" class="esqueci">Cadastrar</a> <!-- VARIAVEL DE AMBIENTE -->
            <div class="div-btn-cadastrar">
                {{ form.btnSubmit(class='btn-cadastrar') }}
            </div>
        </form>
    
    </div>

    <div class="direito">
        <div class="div-1">
            <div class="circ1"></div>
            <div class="circ2"></div>
            <div class="circ3"></div>
            <img src="../../static/media/icones/astro.svg" alt="astronauta" class="astro">
        </div>
    </div>

</section>

{% endblock %}