{% extends 'base/html.html' %}

{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block title %} Criar Postagem {% endblock %}

{% block content %}

{% include 'base/navbar.html' %}

<!-- Importando a biblioteca do CK Editor  -->
<script src="https://cdn.ckeditor.com/ckeditor5/38.0.0/classic/ckeditor.js"></script>

<div class="container">

    <div class="row mt-4">
        <h3>Editor de Postagem</h3>
    </div>
    <div class="row">

        <form action="" method="post" enctype="multipart/form-data" class="col-12 mt-4 p-4 rounded border shadow">
            
            {{ form.csrf_token }}
            
            {{ form.titulo.label() }}
            {{ form.titulo(class="form-control col-12 mb-3") }}

            {{ form.imagem.label() }}
            {{ form.imagem(class="form-control") }}
            
            {{ form.conteudo.label() }}
            {{ form.conteudo(class="form-control col-12 mt-3", id="conteudo", rows="10", cols="80") }}
            
            {{ form.btnSubmit(class="btn btn-primary col-12 mt-3") }}
            
        </form>
    </div>

    <a href="{{url_for('listaPosts')}}">Ver Postagens</a>
    <a href="">Deletar Postagens</a>
</div>



<script src="{{ url_for('static', filename='js/posts/ckeditor.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}