{% extends 'base/html.html' %}


{% block link %}
{% endblock%}

{% block title %} Dashboard Admin {% endblock %}

{% block content %}

{% include 'base/navbar.html' %}

<main>

    <ul style="list-style: none;">
        <li>
            <a href="{{ url_for('criarPosts') }}">Criar Postagens</a>
        </li>
        <li>
            <a href="{{ url_for('criarMateriais') }}">Criar Materiais</a>
        </li>
        <li>
            <a href="{{ url_for('listaPosts') }}?admin_view=true">Editar Posts</a> <!-- VARIAVEL DE AMBIENTE -->
        </li>
        <li>
            Materiais:
            <li>
                <a href="{{ url_for('verMateriais', destino=1) }}?admin_view=true">Editar 1º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('verMateriais', destino=2) }}?admin_view=true">Editar 2º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('verMateriais', destino=3) }}?admin_view=true">Editar 3º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('verMateriais', destino=4) }}?admin_view=true">Editar Olímpiadas</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">Sair</a>
        </li>
        
    </ul>
</main>





{% endblock %}