{% extends 'base/html.html' %}


{% block link %}
{% endblock%}

{% block title %} Dashboard Admin {% endblock %}

{% block content %}

{% include 'base/navbar.html' %}

<main>

    <ul style="list-style: none;">
        <li>
            <a href="{{ url_for('criarPosts') }}">Criar Postagens</a>
        </li>
        <li>
            <a href="{{ url_for('criarMateriais') }}">Materiais</a>
        </li>
        <li>
            <a href="{{ url_for('listaPosts') }}">Ver Posts</a>
        </li>
        <li>
            <a href="{{ url_for('listaPosts') }}?admin_view=true">Editar Posts</a> <!-- VARIAVEL DE AMBIENTE -->
        </li>
        <li>
            Materiais:
            <li>
                <a href="{{ url_for('materiaisTurmas', turma=1) }}?admin_view=true">Editar 1º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('materiaisTurmas', turma=2) }}?admin_view=true">Editar 2º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('materiaisTurmas', turma=3) }}?admin_view=true">Editar 3º ano</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
            <li>
                <a href="{{ url_for('materiaisTurmas', turma=4) }}?admin_view=true">Editar Olímpiadas</a> <!-- VARIAVEL DE AMBIENTE -->
            </li>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">Sair</a>
        </li>
        
    </ul>
</main>





{% endblock %}