{% extends 'base/html.html' %}


{% block link %}
{% endblock%}

{% block title %} Dashboard Admin {% endblock %}

{% block content %}

{% include 'base/navbar.html' %}

<main>

    <ul style="list-style: none;">

        <a href="{{ url_for('criarPosts') }}">Criar Postagens</a>
        <a href="{{ url_for('criarMateriais') }}">Criar Materiais</a>
        <a href="{{ url_for('listaPosts') }}">Ver Posts</a>
        
        <a href="{{ url_for('logout') }}">Sair</a>
    </ul>
</main>





{% endblock %}