/* Estilização Geral */
* {
    box-sizing: border-box;
}
    
html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-weight: 100;
    font-style: normal;
    background-color: #F0EDE8;
    font-size: 25px;
    
}

main{
    position: relative;
    overflow: hidden;
}
main::before{
    content: "";
    position: absolute;
    top: -53vh;
    left: 61vw;
    height: 500vw;
    width: 500vw;
    
    background-size: cover;
    background: url(../media/bg/temp.svg) no-repeat center center;

    opacity: 30%;
    transform: translate(-50%, -50%) rotate(-35deg) scale(0.75);
    z-index: -1;
}



/* Header Section */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px 5% 50px;

    position: relative;
    height: 100vh;
    overflow: hidden;
}
.header::before, .header::after{
    content: "";
    position: absolute;
    top: 19vh;
    left: 87vw;
    height: 500vw;
    width: 500vw;
    
    background-size: cover;
    background: url(../media/bg/temp.svg) no-repeat center center;

    opacity: 30%;
    transform: translate(-50%, -50%) rotate(-35deg) scale(0.75);
    z-index: -1;
}
.header::after{
    top: 90vh;
    left: 112.5vw;
}

/* Lado esquerdo com título e descrição */
.esquerdo {
    flex: 50%;
    margin-top: 50px;
    padding-right: 1.5%;
}
.titulo {
    font-size: 2.5em;
    font-weight: bold;
    color: #003B5C;
    text-align: center;
}

.descricao {
    font-size: 1.1rem;
    color: #333;
    margin-top: 20px;
    line-height: 1.6;
    text-align: center;
}


/* Lado direito com os retângulos */
.direito {
    flex: 50%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 1.5%;
}

.div-1 {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retcentral {
    width: 49.3vh;
    height: fit-content;
    max-height: 70vh;
    background-color: #C7D5E0;
    border-radius: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #003B5C;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    justify-content: left; /* (?) Linha necessária */
    font-size: 1.5em; /* (?) Linha necessária */
    font-weight: bold; /* (?) Linha necessária */
}
.retcentral img{
    width: 100%;
    border-radius: inherit;
}

.div-2    {
    flex: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 5%;
}

.ret2, .ret3 {
    width: 100%;
    height: fit-content;
    max-height: 300px;
    background-color: #c6d5df;
    border-radius: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    justify-content: right; /* (?) Linha necessária */
    font-size: 1.5em; /* (?) Linha necessária */
    font-weight: bold; /* (?) Linha necessária */
    color: #a4b6c2; /* (?) Linha necessária */
}

.ret3{
    max-height: 230px;
}
.ret2 img, .ret3 img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}


/* Conteudos Section */

.conteudos{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    height: 100vh;
    overflow: hidden;
}

.conteudos::before, .conteudos::after{
    
    content: "";
    position: absolute;

    top: 112vh;
    left: 10.3vw;
    width: 500%;
    height: 500%;
    
    background-size: cover;
    background: url(../media/bg/temp.svg) no-repeat center center;
    
    transform: translate(-50%, -50%) rotate(35deg) scale(0.75);
    opacity: 15%;
    z-index: -1;
}
.conteudos::after{
    top: -10vh;
    left: 112.5vw;

    opacity: 30%;
    transform: translate(-50%, -50%) rotate(-35deg) scale(0.75);
    z-index: -1;
}

.conteudos-top h2{
    text-align: center;
    }
.conteudos-top p{
    max-width: 500px;
    color: rgb(143, 142, 142);
    text-align: center;
    font-size: 20px;
}



.conteudos-bottom{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 10vh;
}

.turma{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 20vw;
    flex-flow: column wrap;
}

.circle{
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    background-color: #91a7b6;
    
    align-content: center;
    
}
.circle p{
    text-align: center;
    color: #102e4a;
    font-size: 150%;
    font-weight: 700;
}

.turma .container{
    text-align: center;
    margin-top: 1vh;
}

.turma .container strong{
    color: #000;
}

.turma .container p{
    color: rgb(70, 69, 69);
    font-size: 16px;
    margin-top: 1vh;
}

/* Media Query para Responsividade */

/* Parei aqui */
@media (max-width: 768px) {
    .header {
        flex-flow: row wrap;
        /* flex-direction: column; */
        padding: 0 20px 5vh;
        height: fit-content;
        /* margin-top: -5vh; */
    }

    .esquerdo {
        flex: 100%;
        margin: 0;
        text-align: center;
        /* background-color: aqua; */
    }

    .direito {
        flex: 100%;
        margin-top: 5vh;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        /* background-color: #003B5C; */
        height: fit-content;
    }
    
    .div-1, .div-2{
        /* background-color: #333; */
        height: max-content;
        /* border-bottom: 1px solid #F0EDE8; */
        flex: 100%;
        flex-flow: row;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .retcentral{
        width: 80%;
        margin: 0;
    }
    .retcentral img{
        width: 100%;
        height: auto;
    }
    
    .ret2, .ret3 {
        width: 100%;
        margin: 0;
        height: fit-content;
    }
    .ret2 img, .ret3 img {
        width: 100%;
        height: auto;
    }

    .conteudos {
        height: fit-content;
    }

    .conteudos-top p {
        font-size: 16px;
        padding: 0 20px;

    }

    .conteudos-bottom {
        display: flex;
        align-items: center;
        padding: 10px 0;
        justify-content: space-around;
    }

    .turma {
        width: 90%;
        height: 100px;
        border: 1px solid #102e4a;
        border-radius: 20px;
        background-color: #F0EDE8;
        justify-self: center;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 0 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    .turma .circle {
        width: 80px;
        height: 80px;
    }
    .turma .circle p{
        justify-self: center;
        font-size: 1em;
    }
    .turma .container{
        flex: 10%;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        overflow-wrap: break-word;
    }
    .turma .container strong {
        flex: 100%;
        color: #102e4a;
    }
    .turma .container p{
        display: none;
    }
    .turma .container::after {
        content: "Ver conteudos";
        background-color: #91a7b6;
        color: #F0EDE8;
        font-size: .8em;
        /* text-decoration: underline; */
        border-radius: 10px;
        justify-self: center;
        padding-top: 10px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 23%;
    }

    main::before, .header::before, .header::after, .conteudos::before, .conteudos::after{
        background: none;
    }

}