{% extends 'base/html.html' %}

{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/lista-materiais.css') }}">
<script src="{{ url_for('materials.static', filename='pg-materiais.js') }}"></script>
{% endblock %}

{% block title %} Materiais {% endblock %}

{% block content %}
    {% include 'base/navbar.html' %}

<header id="header">

    <!-- <img src="{{ url_for('static', filename='media/icones/ondas2.svg') }}" alt=""> -->
</header>

<main>
    <div id="material-container" class="material-container">

    </div>
    <!-- <div class="paginacao">
        <button id="botao-voltar" disabled>
            <i class="bi bi-chevron-left"></i>
        </button>
        <button id="botao-avancar">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div> -->
</main>


<script>
    const isAdmin = {{ 'true' if current_user.is_authenticated and current_user.admin else 'false'}};
    const adminView = new URLSearchParams(window.location.search).get('admin_view') === 'true';
</script>
<script src="{{ url_for('materials.static', filename='lista-materiais.js') }}"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}