{% extends 'base/html.html' %}

{% block link %}
<link rel="stylesheet" href="../static/css/styleindex.css">

{% endblock %}
{% block title %} Física c Douglas {% endblock %}


{% block content %}

{% include 'base/navbar.html' %}

<main>
    <section class="header">
        
        <div class="esquerdo">
            <h1 class="titulo">Título</h1>
            <p class="descricao">Aqui você encontra os melhores serviços com qualidade e excelência. Nossa missão é oferecer a melhor experiência e atendimento, trazendo soluções inovadoras para suas necessidades. Confie em nossos serviços para levar seu projeto ao próximo nível!</p>
        </div>
        
        <div class="direito">
            <div class="div-1">
                <div class="retcentral"></div>
            </div>
            <div class="div-2">
                <div class="ret2"></div>
                <div class="ret3"></div>
            </div>
        </div>
    </section>

    <section class="conteudos" id="conteudos">

        <div class="conteudos-top">
            <h2>CONTEUDOS<br>
                ETE
            </h2>
            <p>
                Aqui, acreditamos que cada clique é uma oportunidade e cada 
                visita é uma jornada. O nosso site foi projetado com o intuito de
                oferecer a você uma experiência única e envolvente.

            </p>
        </div>

        
        <div class="conteudos-bottom">

            <div class="turma">
                <div class="circle">
                    <p>1</p>
                </div>
                <div class="container">
                    <strong>Primeiro ano</strong>
                    <p> Estudo das ondas, suas
                        propriedades e análise as relações
                        entre calor, trabalho e energia
                    </p>
                </div>
            </div>

            <div class="turma">
                <div class="circle">
                    <p>2</p>
                </div>
                <div class="container">
                    <strong>Segundo ano</strong>
                    <p> Estudo das ondas, suas
                        propriedades e análise as relações
                        entre calor, trabalho e energia
                    </p>
                </div>
            </div>

            <div class="turma">
                <div class="circle">
                    <p>3</p>
                </div>
                <div class="container">
                    <strong>Terceiro ano</strong>
                    <p> Estudo das ondas, suas
                        propriedades e análise as relações
                        entre calor, trabalho e energia
                    </p>
                </div>
            </div>

        </div>

    </section>

</main>


<script src="../static/js/scroll-section.js" defer></script>


{% endblock %}