<nav class="navbar">
    <div class="logo">
        <img class="foguete" src="../../static/media/icones/foguete-f0ede8.svg" alt="logo">
        <h1>888</h1>
    </div>

    <div class="menu">
        <a href="#conteudos">Conteudo ETE</a>
        <a href="#">Navegação</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('homepage') }}">{{ current_user.nome }} {{ current_user.sobrenome }}</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
</nav>