<link rel="stylesheet" href="{{ url_for('static', filename='css/base/navbar.css') }}">

<nav class="navbar">
    <div class="logo">
        <img class="foguete" src="{{ url_for('static', filename='media/icones/foguete-f0ede8.svg') }}" alt="logo">
        <h1>888</h1>
    </div>

    <div id="menu-navbar" class="menu">
        <button id="openButton" class="menu-toggle close" aria-label="Close menu">✖</button>
        <a href="{{ url_for('homepageSection', section='conteudos') }}">Conteudo ETE</a>
        <a href="{{ url_for('listaPosts') }}">Blog</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('dashboard') }}">{{ current_user.nome }} {{ current_user.sobrenome }}</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>

    <button id="closeButton" class="menu-toggle open" aria-label="Open menu">☰</button>
</nav>

<script src="{{ url_for('static', filename='js/base/navbar-mobile.js') }}"></script>